.App {
    width: 100%;
    max-width: 400px;
    min-width: 320px;
    box-shadow: 0 0 6px #000, 0 0 3px #fff;

}

.wrap_header {
    height: 60px;
    font-size: 2.8rem;
    color: #303a43;
    background-color: rgb(216, 206, 206);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.card {
    height: 150px;
    font-size: 5rem;
    background-image: url(./../../image/fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(245, 234, 224);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    text-shadow: 0 0 4px #fff, 0 0 6px #444;
    font-weight: bold;
}

.wrap__bomb {
    height: 150px;
    margin: auto 0;
    width: 100%;
    background-color: blue;
}

.wrap__bomb img{
width:100%;
height: 130px;
background-color: olive;
}

.bomb{
    width: 100%;
    height: 200px;
    background-color: pink;
}


.bomb img {
    width: 100%;
}



.wrap__button {
    height: 100px;
}

.btn__ya {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    font-size: 1.3rem;
    color: blue;
    font-style: italic;
    pointer-events:fill;
    border: 2px solid#444;
    box-shadow: 0 -0 6px #444 inset, 0 0 8px rgb(24, 24, 24);
    cursor: pointer;
}

.dado {
    width: 30%;
    height: 50px;
    border: 2px solid#444;
    box-shadow: -2px -2px 2px #444 inset, -4px -4px 2px #fff inset;
    cursor: pointer;
}